/* ============================================================
 * layers/03_num.dtsi â [ Synthesis 03 ] NUM
 * ============================================================ */

NUM {
    bindings = <
    &trans  &trans  &kp LLCTRL(LLALT(V))  &kp LLSHFT(LLGUI(NUMBER_3))  &kp LLSHFT(LLGUI(NUMBER_4))  &trans  &kp 0x0059  &kp 0x005a  &kp 0x005b  &kp 0x005c  &kp 0x005d  &trans  &trans  &kp LLGUI(A)  &kp LLGUI(X)  &kp LLGUI(C)  &kp LLGUI(V)  &kp END  &trans  &kp EQUAL  &kp 0x005e  &kp 0x005f  &kp 0x0060  &kp 0x0061  &kp 0x0062  &trans  &trans  &trans  &trans  &kp LLGUI(Z)  &kp LLGUI(Y)  &trans  &trans  &kp LLSHFT(EQUAL)  &kp MINUS  &kp LLSHFT(NUMBER_8)  &kp SLASH  &kp PERIOD  &kp COMMA  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp BACKSPACE  &kp ENTER  &kp LRGUI(Z)  &trans
    >;

    sensor-bindings = <&inc_dec_kp C_BRI_DN C_BRI_UP>;
};
