/* ============================================================
 * layers/06_bluetooth.dtsi â [ Synthesis 06 ] Bluetooth
 * ============================================================ */

Bluetooth {
    bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans  /* BT_SOLO_0(0,0) */  /* BT_SOLO_1(0,0) */  /* BT_SOLO_2(0,0) */  /* BT_SOLO_3(0,0) */  /* BT_SOLO_4(0,0) */  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &studio_unlock  /* BT_PAIR_0(0,0) */  /* BT_PAIR_1(0,0) */  /* BT_PAIR_2(0,0) */  /* BT_PAIR_3(0,0) */  /* BT_PAIR_4(0,0) */  &trans  &trans  &trans  &trans  &trans  &trans  &kp LLALT(LLGUI(ESC))  &kp LLCTRL(LLGUI(Q))  &bootloader  &trans  &trans  &trans  &trans  /* Bluetooth(0,0) */  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  /* Bluetooth(4,0) */  &trans
    >;

    sensor-bindings = <&rotate>;
};
