/* ============================================================
 * layers/15_snipe.dtsi â [ Synthesis 15 ] SNIPE
 *
 * ããã©ã«ãã¬ã¤ã¤ã¼ã¨ã»ã¼åä¸ãã¤ã³ããK ã®ã¿ãã¼ã«ãã§ arrows_alt èµ·åã
 * K ãã¼ã«ãä¸­: arrows-alt-profiles ã® L15 ã¨ã³ããªï¼ã³ã¼ã 2000-2003ï¼ã
 * ããããã¦ãã©ãã¯ãã¼ã«åä½ãã¹ã¯ã­ã¼ã«ãã¤ã¼ã«ã¤ãã³ãã«å¤æãããã
 * ãã©ãã¯ãã¼ã« CPI ã¯ãã©ã¤ãã snipe-layers è¨­å®ã«ããèªåã§ä½æ¸ããã
 * ============================================================ */

SNIPE {
    bindings = <
    &trans  &mt LCTRL_RSHFT_RALT_RGUI Q  /* GESTURE_MO_KP(14,458778) */  /* GESTURE_MO_KP(7,458760) */  /* GESTURE_MO_KP(8,458773) */  /* GESTURE_MO_KP(11,458775) */  &kp Y  &kp U  /* GESTURE_MO_KP(5,458764) */  &kp O  &mt LCTRL_LALT_RSHFT_RALT_RGUI P  &trans  &trans  /* GESTURE_MO_KP(12,458756) */  /* GESTURE_MO_KP(9,458774) */  /* GESTURE_MO_KP(13,458759) */  &kp F  &lt 6 G  /* smart_num(16,0) */  &kp LLSHFT(NUMBER_2)  &kp H  &kp J  /* ht_arrows_alt(15,458766) */  /* GESTURE_MO_KP(4,458767) */  &mt LCTRL_LSHFT_RSHFT_RALT_RGUI MINUS  &trans  &trans  &kp Z  &kp X  &kp C  &kp V  /* GESTURE_MO_KP(10,458757) */  &kp TAB  &kp LLSHFT(SEMICOLON)  &kp N  &kp M  &kp COMMA  &kp PERIOD  &mt RSHFT_RALT_RGUI EQUAL  &trans  &trans  &kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &lt 2 ESC  &lt 3 SPACE  &mkp MB1  &kp BACKSPACE  &lt 1 ENTER  &mt LSHFT_RSHFT_RALT_RGUI DELETE  &trans
    >;

    sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
};
